@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Magra:wght@400;700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Orbitron:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #041228 url(resource/homepage.png) no-repeat center center;
    background-size: 80%;
    background-position: top 100px center;
    padding-top: 90px;
}

/*effect when scroll*/
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

section {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;

}

/*navbar*/
header {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.0rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background: rgba(112, 111, 111, 0.116);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 5.4rem;
    padding: 6px 20px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A0FEFB;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background: #A0FEFB;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}

nav a:hover::after {
    transform: scaleX(1); 
}


.logo {
    font-size: 24px;
    color: transparent;
    background: linear-gradient(to right, #CC19CC,#4315D7);
    background-clip: text;
    border: 2px solid transparent;
    border-radius: 40px;
    border-image: linear-gradient(to right, #CC19CC, #4315D7) 1;
    padding: 8px;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
    display: none;
}

/*CSTU*/
.cstu-container {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    gap: 320px;
    color: transparent;
    -webkit-text-stroke: 1px #A0FEFB;
    background-image: linear-gradient(#0ef, #0ef);
    background-repeat: no-repeat;
    background-clip: text;
    background-position: -1200px 0;
    transition: background-position 1s, text-shadow 1s;
    transition-delay: .2s, 1s;
}

.cstu-container:hover {
    transition: background-position 1s, text-shadow 1s;
    transition-delay: 0s, 1s;
    background-position: 0 0;
    text-shadow: 
        0 0 10px #0ef,
        0 0 20px #0ef,
        0 0 40px #0ef,
        0 0 80px #0ef,
        0 0 160px #0ef;
}

.gradient-box {
    position: absolute;
    bottom: 0;
    top: 113%;
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to top, 
        rgba(4, 18, 40, 1), 
        rgba(4, 18, 40, 0.96),
        rgba(4, 18, 40, 0.91),
        rgba(4, 18, 40, 0.77),
        rgba(4, 18, 40, 0.5),
        rgba(4, 18, 40, 0));
    z-index: 1;
}


/*tablet*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }

    .cstu-container {
        font-size: 80px;
        top: 20%;
        gap: 250px;
    }
    
    .gradient-box {
        top: 35%;
    }
}

/*Mobile*/
@media (max-width: 768px) {
    .logo {
        font-size: 22px;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(112, 111, 111, 0.116);
        backdrop-filter: blur(20px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: .3s ease;
    }

    nav a {
        display: block;
        font-size: 16px;
        margin: 1.5rem 0;
        text-align: center;
    }

    #check:checked~nav {
        height: 12.0rem;
    
    }

    .cstu-container {
        font-size: 30px;
        top: 23%;
        gap: 100px;
    }

    .gradient-box {
        top: 19%;
    }

    h2 {
        font-size: 18px;
    }

    .subtitle {
        font-size: 16px;
    }

    
   
}

/*guest book*/
h2{
    color: #A0FEFB;
    font-size: 48px;
    font-family: "Orbitron" ,sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    margin-top: 900px;
    padding-bottom: 20px;
    padding-top: 50px;
}

.subtitle{
    color: white;
    font-size: 24px;
    font-family: "Mitr",serif;
    font-weight: 300;
    text-align: center;
}

#containerguestbook{
    background-color: #1B273A;
    border-radius: 8px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    height: 950px;
}

.subtitle2{
    color: #54F271;
    font-size: 24px;
    font-family: "Mitr",serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    padding-top: 40px;
}

/*rating star*/
.rating{
    margin: 0 auto;
    width: 400px;
}
.rating >*{
    float: right;
}
.rating label{
    height: 40px;
    width: 20%;
    display: block;
    position: relative;
    cursor: pointer;
}
.rating label::after{
    transition: all 0.4s ease-out;
    -webkit-font-smoothing:antialiased;
    position: absolute;
    content: "☆";
    color: #d2d21f;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 80px;
    -webkit-animation:1s pulse ease;
    animation: 1s pulse ease;
}

/*hover effect*/
.rating label :hover::after{
    color: #5e5e5e;
    text-shadow: 0 0 15px #5e5e5e;
}
.rating input{
    display: none;
}
.rating input:checked + label::after,
.rating input:checked ~ label::after{
    content: "★";
    color: #d2d21f;
    text-shadow: 0 0 20px #d2d21f;
}





/*members slide*/

.slide-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top:10%;
}

.slide-wrapper {
    position: relative;
    width: 100%;
    height:  75vh;
    overflow: hidden;
}
/*card*/
.card-item {
    position: absolute;
    width: 335px;
    height: 500px;
    text-align: justify;
    border: 1px solid #fff;
    border-radius: 5%;
    padding: 5px;
    transition: 0.5s;
    left: calc(50% - 167.5px);
    top: 0;
    background: #ffffff1a;
    display: flex;
    flex-wrap: wrap;
}
/*image style*/
.card-item .members-image {
    width: 100%;
    display: flex;
    justify-content: center;

}
.members-image img {
    border-radius: 5%;
    width: 90%;
    height: 280px;
    object-fit: cover;
}
/*button*/
#right,#left {
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    left:50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#right {
    left: unset;
    right: 50px;
}
button .material-symbols-outlined{
    display: flex;
    justify-content: center;
}
/*font style*/
.card-item .name {
    font-size: 48px;
    font-family: "Orbitron",sans-serif;
    color: #A0FEFB;
    font-weight: 700;
    font-style: normal;
    position: relative;
    left:-11%;
}
.card-item .text {
    width: 420px;
    margin-left: 5%;
    padding-top: 2%;
}

.card-item .subtitle {
    width: 100%;
    text-align: left;
}

/*form element guest book*/
/*set position of field*/
.container form .detailform{
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    margin: 120px 200px;
}

form .detailform .form-group{
    width: calc(100% /2 -20px);
    margin: 0px;
    width: 50%;
    padding: 0px 10px;
    position: relative;
}

/*style text label*/
.detailform .form-group label{
    display: block;
    font-weight: 400;
    color: white;
    transform: translateY(-205%);
    padding-left: 20px;
    padding-bottom: 2px;
    pointer-events: none;
    font-family: "Mitr",serif;
    font-style: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

/*style input feild*/
.detailform .form-group input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #A0FEFB;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: transparent;
    color: white;
    margin-bottom: 20px;
    font-family: "Mitr",serif;
}
/*animate input field*/
.form-group input:focus~label,
.form-group input:valid~label{
    top: -25px;
    font-size: 12px;
    background-color: #1B273A;
}

/*dropdown*/
.detailform .form-group select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid #A0FEFB;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: transparent;
    color: white;
    font-family: "Mitr",serif;
}
select option{
    background-color: #33393f;
}

/*style comment*/
.form-comment {
    padding-left: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.detailform .form-comment label{
    display: block;
    font-weight: 400;
    color: white;
    position: absolute;
    transform: translateY(-900%);
    padding-left: 10px;
    padding-bottom: 2px;
    pointer-events: none;
    font-family: "Mitr",serif;
}

.form-comment textarea{
    padding-top: 30px;
    padding-left: 30px;
    width: 945px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid #A0FEFB;
    background-color: transparent;
    color: white;
    font-family: "Mitr",serif;
    font-size: 16px;
    outline: none;
}
/*animate comment field*/
.form-comment textarea:focus~label,
.form-comment textarea:valid~label{
    top: 740px;
    font-size: 12px;
    background-color: #1B273A;
}

/*submit button*/
button{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #A0FEFB;
    font-family: "Mitr",serif;
    margin: 0px 7px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background: linear-gradient(45deg,#A0FEFB,#4315D7,#54F271);
    color: white;
}