@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Magra:wght@400;700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Orbitron:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #041228;
    overflow-x: hidden;
}

header {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.0rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background: rgba(112, 111, 111, 0.116);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 5.4rem;
    padding: 6px 20px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A0FEFB;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background: #A0FEFB;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}

nav a:hover::after {
    transform: scaleX(1); 
}


.logo {
    font-size: 24px;
    color: transparent;
    background: linear-gradient(to right, #CC19CC,#4315D7);
    background-clip: text;
    border: 2px solid transparent;
    border-radius: 40px;
    border-image: linear-gradient(to right, #CC19CC, #4315D7) 1;
    padding: 8px;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.top-container{
    margin: 200px 0 0 70px;
    display: flex;
    flex-wrap: wrap;
}

.topic{
    height: fit-content;
}

.topic h1{
    font-size: 6.25rem;
    font-family: "Audiowide", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.topic h2{
    font-size: 8.125rem;
    font-family: "Audiowide", sans-serif;
    color: #A0FEFB;
    text-transform: uppercase;
}

.topic p{
    font-size: 20px;
    color: #54f271;
    font-family: "Mitr",sans-serif;
    border:3px solid #54f271;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 100px;
}

.top-image{
    position: absolute;
    right: -450px;
    top: 100px;
}

.top-image img{
    width: 1400px;
}


@media (max-width:1440px){
    .top-image img{
        width: 1300px;
    }
}

@media (max-width:1380px){
    .top-image img{
        width: 1200px;
    }
}

@media (max-width:1300px){
    .top-image img{
        width: 1000px;
    }

    .topic h1{
        font-size: 5.25rem;
    }
    
    .topic h2{
        font-size: 7.125rem;
    }
    
    .topic p{
        font-size: 18px;
    }
}

@media (max-width:1040px){
    .top-image img{
        width: 950px;
    }

    .topic h1{
        font-size: 4.25rem;
    }
    
    .topic h2{
        font-size: 6.125rem;
    }
    
    .topic p{
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .top-image img{
        width: 850px;
    }

    .topic h1{
        font-size: 4.25rem;
    }

    .topic h2{
        font-size: 5rem;
    }

    .topic p{
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .top-image img{
        width: 800px;
    }
}

@media (max-width: 770px) {
    .top-image img{
        display: none;
    }

    .topic{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-container{
        justify-content: center;
        margin-left: 0;
    }

    .topic h1{
        font-size: 3.25rem;
    }

    .topic h2{
        font-size: 4.5rem;
    }

    .topic p{
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .topic h1{
        font-size: 2.25rem;
    }

    .topic h2{
        font-size: 3.5rem;
    }

    .topic p{
        font-size: 10px;
    }
}


/*tablet*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

/*Mobile*/
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(112, 111, 111, 0.116);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .3s ease;
    }

    nav a {
        display: block;
        font-size: 16px;
        margin: 1.5rem 0;
        text-align: center;
    }

    #check:checked~nav {
        height: 12.0rem;
    }
}

