@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Magra:wght@400;700&family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Mitr&family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Orbitron:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #041228;
    overflow-x: hidden;
}

header {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.0rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background: rgba(112, 111, 111, 0.116);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


nav a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    margin-left: 5.4rem;
    padding: 6px 20px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #A0FEFB;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px; 
    background: #A0FEFB;
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease; 
}

nav a:hover::after {
    transform: scaleX(1); 
}


.logo {
    font-size: 24px;
    color: transparent;
    background: linear-gradient(to right, #CC19CC,#4315D7);
    background-clip: text;
    border: 2px solid transparent;
    border-radius: 40px;
    border-image: linear-gradient(to right, #CC19CC, #4315D7) 1;
    padding: 8px;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.top-container{
    margin: 200px 0 50px 70px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.topic{
    margin-top: 120px;
    height: fit-content;
    width: 50%;
}

.topic h1{
    font-size: 6.25rem;
    font-family: "Audiowide", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.topic h2{
    font-size: 8.125rem;
    font-family: "Audiowide", sans-serif;
    color: #A0FEFB;
    text-transform: uppercase;
}

.topic p{
    font-size: 20px;
    color: #54f271;
    font-family: "Mitr",sans-serif;
    border:2px solid #54f271;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 100px;
}

.top-image{
    /* position: absolute; */
    float: left;
    width: 50%;
}

.top-image img{
    width: 1400px;
}

.middle-container{
    margin-top: 500px;
}

.bottom-container{
    width: 100%;
    height: 250px;
    background-image: url("./resource/journey-footer.jpg");
    background-size: cover;
    background-position: 28% 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 130px;
}

.bottom-container .quote{
    font-family: "Orbitron",sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

@media (max-width:1440px){
    .top-image img{
        width: 1300px;
    }
}

@media (max-width:1380px){
    .top-image img{
        width: 1200px;
    }
}

@media (max-width:1300px){
    .top-image img{
        width: 1000px;
    }

    .topic h1{
        font-size: 5.25rem;
    }
    
    .topic h2{
        font-size: 7.125rem;
    }
    
    .topic p{
        font-size: 18px;
    }

    .bottom-container .quote{
        font-size: 28px;
    }
}

@media (max-width:1040px){
    .top-image img{
        width: 950px;
    }

    .topic h1{
        font-size: 4.25rem;
    }
    
    .topic h2{
        font-size: 6.125rem;
    }
    
    .topic p{
        font-size: 16px;
    }

    .bottom-container .quote{
        font-size: 24px;
    }    
}

@media (max-width: 900px) {
    .top-image{
        display: none;
    }

    .topic{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-container{
        justify-content: center;
        margin-left: 0;
        margin-top: 100px;
        margin-bottom: 200px;
    }

    .topic h1{
        font-size: 4.25rem;
    }

    .topic h2{
        font-size: 5rem;
    }

    .topic p{
        font-size: 14px;
    }

    .bottom-container .quote{
        font-size: 20px;
    }  

    .bottom-container{
        height: 200px;
        margin-bottom: 100px;
    }
}

@media (max-width: 800px) {
    .top-image img{
        width: 800px;
    }
}

@media (max-width: 770px) {
    .top-image{
        display: none;
    }

    .topic{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .top-container{
        justify-content: center;
        margin-left: 0;
    }

    .topic h1{
        font-size: 3.25rem;
    }

    .topic h2{
        font-size: 4.5rem;
    }

    .topic p{
        font-size: 12px;
    }
}

@media (max-width: 710px) {
    .bottom-container .quote{
        font-size: 16px;
    }  

    .bottom-container{
        height: 150px;
        margin-bottom: 70px;
    }
}

/*tablet*/
@media (max-width: 992px) {
    header {
        padding: 1.3rem 5%;
    }
}

/*Mobile*/
@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(112, 111, 111, 0.116);
        backdrop-filter: blur(50px);
        overflow: hidden;
        transition: .3s ease;
    }

    nav a {
        display: block;
        font-size: 16px;
        margin: 1.5rem 0;
        text-align: center;
    }

    #check:checked~nav {
        height: 12.0rem;
    }
}

@media (max-width:620px) {
    .topic p{
        font-size: 12px;
    }
}

@media (max-width: 560px) {
    .bottom-container .quote{
        font-size: 12px;
    } 
}

@media (max-width: 500px) {
    .topic h1{
        font-size: 2.25rem;
    }

    .topic h2{
        font-size: 3.5rem;
    }

    .bottom-container{
        margin-bottom: 60px;
    }
}

@media (max-width: 410px) {
    .bottom-container .quote{
        font-size: 10px;
    }  

    .bottom-container{
        height: 110px;
    }
}
/* Middle part */

.mid_container {
    background-color: #041228;
    display: flex;
    min-height: 100%;
    justify-content: center;

}

.title {
    position: absolute;
    text-align: center;
    
    .main_title {
        font-size: 36px;
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        color: white;
    }

    .sub_title {
        font-size: 24px;
        font-family: "Mitr", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #54F271;
    }

    border: solid 0.5px;
    border-radius: 20px;
    border-color: white;
    background: rgba(215, 210, 210, 0.40);
    backdrop-filter: blur(5px);
    padding: 30px;
    z-index: 1;
    margin-top: -90px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    background-color:#5f5c5c60;
}

.middle_image {
    width: 100%;
    height: 250px;
    object-fit: fill;
}

.card{
    /* border: solid; */
    position: relative;
    width: 520px;
    height: 380px;
    border-radius: 8px;
    margin: 80px;
    overflow: hidden;
    background: linear-gradient(to right, #9A0E9A, #160F89);
    box-shadow: 8px 8px #4E5668;
}

.card .text {
    padding: 15px;
    
}

.card .text .year {
    font-size: 30px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;

    .year_name {
        padding-left: 15px;
    }
}

.card .more_btn {
    width: 100px;/* Keep the button size the same */
    height: 100px;
    position: absolute;      
    top: 85%;                
    right: -20px;            
    left: auto;             
    margin: 0;               
    text-align: center;
    line-height: 60px;
    color: #fff;
    z-index: 9;
    transition: all ease 0.5s;
    cursor: pointer;
}

.ri-add-large-line{
    color: white;
    font-size: 25px;
    transition: all ease 0.5s;
}

.ri-add-large-line.active {
    transition: all ease 0.7s;
    color: rgb(102, 100, 100);
}

.more_text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A0FEFB;
    padding: 30px;
    overflow-y: auto;
    transition: all ease 0.7s;
}

.more_text.active {
    bottom: 0;
}


.more_text::-webkit-scrollbar {
    width: 7px;
    background-color: #A0FEFB;
    
}

.more_text::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: rgb(102, 100, 100);
    border-radius: 20px;
}



#head {
    font-size: 32px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 15px;
}

#body {
    font-size: 18px;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}


/* Middle part */

/* Responsive for Middle part */

@media (max-width:1700px) {

    .title {
        .main_title {
            font-size: 28px;
        }
    
        .sub_title {
            font-size: 20px;
        }

        margin-top: -70px;
    
    }

    .cards {
        width: 90%;
        justify-content: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 80px;
    }

    .card {
        width: 350px;
        margin-top: 15px;
        height: 280px;
    }

    .year p {
        font-size: 15px;
    }

    .middle_image {
        height: 200px;
    }

    .card .more_btn {
        line-height: 40px;
        right: -30px;
    }

    .ri-add-large-line{
        color: white;
        font-size: 15px;
    }

    .more_text {
        padding: 15px;
    }

    #head {
        font-size: 16px;
    }

    #body {
        font-size: 12px;
    }


    
}

@media (max-width:1500px){

    .title {
        .main_title {
            font-size: 22px;
        }
    
        .sub_title {
            font-size: 20px;
        }

        margin-top: -65px;
    
    }

    .cards {
        width: 90%;
        justify-content: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 80px;
    }

    .card {
        width: 300px;
        margin-top: 15px;
        height: 270px;
    }

    .year p {
        font-size: 15px;
    }

    .middle_image {
        height: 180px;
    }

    .card .more_btn {
        line-height: 40px;
        right: -30px;
    }

    .ri-add-large-line{
        color: white;
        font-size: 15px;
    }

    .more_text {
        padding: 15px;
    }

    #head {
        font-size: 16px;
    }

    #body {
        font-size: 12px;
    }


}

@media (max-width: 1200px) {

    .title {
        .main_title {
            font-size: 22px;
        }
    
        .sub_title {
            font-size: 16px;
        }

        margin-top: 25px;
    
    }

    .cards {
        width: 90%;
        justify-content: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 150px;
        margin: 0px;
    }

    .card {
        width: 250px;
        margin-top: 15px;
        height: 250px;
    }

    .year p {
        font-size: 15px;
    }

    .middle_image {
        height: 150px;
    }

    .card .more_btn {
        line-height: 40px;
        right: -30px;
    }

    .ri-add-large-line{
        color: white;
        font-size: 15px;
    }

    .more_text {
        padding: 10px;
    }

    #head {
        font-size: 16px;
    }

    #body {
        font-size: 12px;
    }

}

@media (max-width: 915px) {

    .mid_container {
        margin-top: 100px;
    }

    .title {
        .main_title {
            font-size: 20px;
        }
    
        .sub_title {
            font-size: 15px;
        }
    
        border-radius: 20px;
        padding: 15px;
        margin-top: 20px;
    }

    .cards {
        padding-top: 120px;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card {
        width: 350px;
        margin-top: 15px;
        height: 330px;
    }

    .year p {
        font-size: 18px;
    }

    .middle_image {
        height: 220px;
    }
}


@media (max-width: 500px) {

    .mid_container {
        margin-top: 100px;
    }

    .title {
        .main_title {
            font-size: 15px;
        }
    
        .sub_title {
            font-size: 12px;
        }
    
        border-radius: 20px;
        padding: 15px;
        margin-top: 20px;
    }

    .cards {
        padding-top: 120px;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .card {
        width: 350px;
        margin-top: 15px;
        height: 330px;
    }

    .year p {
        font-size: 18px;
    }

    .middle_image {
        height: 220px;
    }
    
}

/* Responsive for Middle part */
